
*.pyc
*/*.pyc

warband_mangled_source/
warband_mangled_source/*

generated_classes/
generated_classes/*

.git_broken/
.git_broken/*


*.user


*.build/
*.build/*

*.dist/
*.dist/*

*.onefile-build/
*.onefile-build/*

main
main.bin


ccompiled/build/
ccompiled/build/*


build*/
build*/*

endl/
endl/*

